html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	color: #a06464;
	margin: 0;
	padding: 8px;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	background-color: rgb(163, 165, 131);
	text-align: center;	
}

h1 {
 	color: rgb(0, 0, 0);
 	font-weight: bold;
 	font-family: verdana;
	margin: 160px;
	font-size: 500%;
}

a {
	color: rgb(0,100,200);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0,80,160);
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	-webkit-padding: 0.4em 0;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

button {
	color: #333;
	background-color: #f4f4f4;
	outline: none;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}

button.menu {
  font-family: 'times new roman';
  font-weight: bold;
  color: #000000 !important;
  font-size: 19px;
  text-shadow: 1px 2px 1px #C5E8ED;
  padding: 15px 70px;
  border-radius: 40px;
  border: 5px solid #000000;
  background: #FFDC4F;
  background: linear-gradient(to top, #FFDC4F, #FFFF66);
  margin: 15px

}

button.menu:hover { 
color: #000000 !important;
background: #C2EDF2;
background: linear-gradient(to top, #C2EDF2, #D6EDEE);
cursor: pointer;
}
	
