
    .maze {
      display: grid;
      grid-template-columns: repeat(17, 40px);
      grid-template-rows: repeat(24, 40px);
      gap: 2px;
      justify-content:center ;
    }
  
    .maze-cell {
      background-image: url('/images/chao.jpeg');
      background-size: 100%;
    }
  
    .wall {
      background-image: url('/images/parede.jpeg');
      background-size: 100%;
    }
  
    .player {
      background-image: url('/images/thomas-atual.gif');
      background-size: 100%;
    }
   
                                                