
.maze2 {
    display: grid;
    grid-template-columns: repeat(34, 20px);
    grid-template-rows: repeat(31, 20px);
    gap: 2px;
    justify-content:center ;
  }

  .maze-cell2 {
    background-image: url('/images/chao.jpeg');
    background-size: 100%;
  }

  .wall2 {
    background-image: url('/images/parede.jpeg');
    background-size: 100%;
  }

  .player {
    background-image: url('/images/thomas.gif');
    background-size: 100%;
  }
