
    .maze {
      display: grid;
      grid-template-columns: repeat(17, 40px);
      grid-template-rows: repeat(24, 40px);
      gap: 2px;
      justify-content:center ;
      background-color: rgba(0, 0, 0, 0.569);
    }
  
    .maze-cell {
      background-image: url('/images/chao.jpeg');
      background-size: 100%;
    }
  
    .wall {
      background-image: url('/images/parede-mapa1.jpeg');
      background-size: 100%;
    }
  
    .player {
      background-image: url('/images/thomas-atual.gif');
      background-size: 100%;
    }
    .nivel{
      font-family: 'The Wild Breath of Zelda', sans-serif;
      color:  #eed278;
      font-size: 300%;
      margin: 15px;

    }
    @import url('https://fonts.cdnfonts.com/css/the-wild-breath-of-zelda');

    .over{
      overflow: hidden;

    }