
.maze {
    display: grid;
    grid-template-columns: repeat(42, 32px);
    grid-template-rows: repeat(50, 32px);
    gap: 1px;
    justify-content:center ;
  }

  .maze-cell {
    background-image: url('/images/chao-mapa2.jpeg');
    background-size: 100%;
  }

  .wall {
    background-image: url('/images/parede-mapa3.jpeg');
    background-size: 100%;
  }

  .player {
    background-image: url('/images/thomas2.gif');
    background-size: 100%;
  }
  .nivel{
    font-family: 'The Wild Breath of Zelda', sans-serif;
    color:  #eed278;
    font-size: 300%;
    margin: 15px;

  }
