
.maze {
    display: grid;
    grid-template-columns: repeat(42, 30px);
    grid-template-rows: repeat(52, 30px);
    gap: 1px;
    justify-content:center ;
    background-color: rgba(0, 0, 0, 0.569);
  }

  .maze-cell {
    background-image: url('/images/chao-mapa1.jpg');
    background-size: 100%;
  }

  .wall {
    background-image: url('/images/parede-mapa1.jpg');
    background-size: 100%;
  }

  .player {
    background-image: url('/images/thomas-mapa1.gif');
    background-size: 100%;
  }
  .nivel{
    font-family: 'The Wild Breath of Zelda', sans-serif;
    color:  #eed278;
    font-size: 300%;
    margin: 15px;

  }
  @import url('https://fonts.cdnfonts.com/css/the-wild-breath-of-zelda');
 