.menu-titulo{
    font-size: 700%;
    font-family: Luminari, fantasy ;
    text-shadow: white;
    color: rgb(65, 55, 55);
    border-style: black;
    justify-content: center;
    align-items: center;
    margin:100px

 
}